*{
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

html {
    scroll-behavior: smooth;
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;700&display=swap');

:root {
    --max-width: 1200px;

    --primary-color      : #3E87C7;
    --primary-color-alt  : #053157;
    --secundary-color    : #E00031;
    --secundary-color-alt: #C2012B;
    --color-body         : #2A3B47;
    
    --font-family-title: 'Poppins',     sans-serif;
    --font-family-body : 'Nunito Sans', sans-serif;

    /* Tamaños */
    --header-height: 4rem;

    /* Tamaño de fuentes */
    --h1-font-size     : 3.625rem;
    --h2-font-size     : 3.625rem;
    --h3-font-size     : 2.8rem;
    --h4-font-size     : 2.25rem;
    --h5-font-size     : 1.375rem;
    --normal-font-size : 1.125rem;
    --small-font-size  : 1rem;
    --smaller-font-size: 0.6875rem;
    /* --menu-font-size   : 0.875rem; */

    /* Capas */
    --z-back      : -10;
    --z-normal    : 1;
    --z-front     : 10;
    --z-tooltip   : 20;
    --z-overlay   : 30;
    --z-modal     : 40;
    --z-fixed     : 50;
    --z-off-canvas: 100;


    /* Otros */
    --borde-marca  : rgba(192, 204, 218, 0.6);
    --border-radius: .5rem;
}

@media(max-width:767px) {
    :root {
          /* Tamaños */
    --header-height: 4rem;

    /* Tamaño de fuentes */
    --h1-font-size     : 3.625rem;
    --h2-font-size     : 3.625rem;
    --h3-font-size     : 2.8rem;
    --h4-font-size     : 2.25rem;
    --h5-font-size     : 1.375rem;
    --normal-font-size : 1.125rem;
    --small-font-size  : 1rem;
    --smaller-font-size: 0.6875rem;
    }
}

body{
    font-family   : var(--font-family-body);
    display       : flex;
    flex-direction: column;
    color         : var(--color-body);
    font-size     : var(--normal-font-size);
    font-weight   : 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
    margin-top : 0;
    font-weight: 700;
    line-height: 1;
}


h1 {
    font-size    : var(--h1-font-size);
    margin-bottom: 1rem;
    color        : #fff;
    text-align   : left;
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
    color    : var(--primary-color);
}

h4 {
    font-size: var(--h4-font-size);
    color    : var(--primary-color);
} 

h5 {
    font-size: var(--h5-font-size);
} 

p {
    line-height   : 1.5rem;
    padding-bottom: 18px;
}

.img {
    border-radius: .5rem;
}

.center {
    text-align: center;
}

.negrita {
    font-size     : 20px;
    padding-bottom: 10px;
    font-weight   : 700;
}

.container{
    width       : calc(100% - 2rem);
    max-width   : var(--max-width);   /*Cambiar a variable*/
    margin-left : auto;
    margin-right: auto;
}

.flex {
    display    : flex;
    align-items: center;
}

.col-2 {
    width    : 50%;
    max-width: 50%;
}

.col-3 {
    max-width: 30%;
}
.col-4 {
    max-width: 40%;
}
.col-6 {
    max-width: 60%;
}
.col-7 {
    max-width: 70%;
    width    : 50%;
}

.p-100 {
    padding-bottom: 100px;
    padding-top   : 100px;
}

.p-100b{
    padding-bottom: 100px;
}

.p-200x {
    padding-right: 200px;
    padding-left : 200px;
}

.barra-img{
    padding-bottom: 32px;
    padding-top   : 16px;
}

::marker {
    color: #3e87c7;
}

@media(max-width:768px) {
    .p-200x{
        padding-right: 40px;
        padding-left: 40px;
    }

}

/* Menu */

.cabecera {
    display         : flex;
    width           : 100%;
    height          : var(--header-height);
    background-color: #fff;
    box-shadow      : 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    z-index         : var(--z-front);
    position        : fixed;
    display         : inline-block;
    top             : 0;
    z-index         : var(--z-front);
}

.cabecera-container {
    display        : flex;
    justify-content: space-between;
    font-size      : var(--small-font-size);
}

.cabecera-item {
    max-width : 60%;
    margin-top: 2px;
}

/* Slider */

.slider {
    margin-top: var(--header-height);
}

.slider h1, .slider h2 {
    padding-bottom: 1rem;
}

.slider p {
    line-height: 29px;
}

.slider h2, .slider p {
    color     : #fff;
    text-align: left;
}

.slider h1:after, .slider h2:after {
    content         : "";
    background-color: rgb(224, 0, 49);
    width           : 395px;
    height          : 5px;
    min-height      : 0px;
    min-width       : 0px;
    max-height      : none;
    max-width       : none;
    transform-origin: 50% 50%;
    opacity         : 1;
    transform       : translate(0px, 0px);
    visibility      : visible;
    display         : block;
    margin          : 12px 0;

  
}

.slide-1 {
    background-image : url("/images/img/slider/madre-bebe-fondo.png");
    background-repeat: no-repeat;
    background-size  : cover;
    padding          : 28px 0px;
    height           : 520px;
}

.slide-1 .img {
    width : 42%!important;
    margin: auto;
}

.slide-2 {
    background-image : url("/images/Fondo-Slider.jpg");
    background-repeat: no-repeat;
    background-size  : cover;
    padding          : 28px 0px;
    height           : 520px;
}

/* .slide-2 .img {
    margin-bottom: -40px;
} */

.slide-3 {
    background-image : url("/images/img/slider/fondo-psicoprofilaxis.png");
    background-repeat: no-repeat;
    background-size  : cover;
    padding          : 28px 0px;
    height           : 520px;
}

.slide-3 .img {
    width : 60%!important;;
    margin: auto;
}

.txt-slider{
    font-size: var(--h5-font-size);
}


/* Tira de caracteristicas */

.tira-detalles-section {
    display      : flex;
    padding      : 12px 24px;
    box-shadow   : 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 50px 50px 50px 50px;
    margin-top   : -50px;
    margin-bottom: 100px;
    position     : relative;
    background   : #fff;
    z-index      : var(--z-normal);
}

.container.tira-item {
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 8px;
}


.div-txt {
    padding-right: 32px;
}

.tira-detalles-section p{
    padding     : 0;
    padding-left: 12px;
}

/* porque */
.porque-container{
    display    : flex;
    align-items: flex-end;
}

.video-responsive {
    width : 100%;
    height: 100%;
}
.video-responsive video{
    border: 2px solid #2a3b4754;
}

.video {
    width: 550px;
    height: 320px;
}

@media(max-width:1024px) {
    .video {
        width: 450px;
    }
}



/* Equipos */
.equipos-section, .incluyen-section{
    background-image: url("../images/dot.png");
}
.contenido-equipos {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
}

.equipos-section .barra-img, .staff-section .barra-img, .recomendaciones-section .barra-img {
    margin : auto;
    display: block;
}

.subtitle {
    font-weight   : 700 ;
    padding-bottom: 50px;
}

.equipos-section li, .staff-section li{
    line-height: 28px;
}

.contenido-equipos-txt {
    padding: 40px;
}

.instalaciones {
    width: 50%;
}

.instalaciones img {
    width : 50%!important;
    margin: auto;
}

/* Staff  */

.staff-contenido {
    display    : flex;
    align-items: center;
}

.staff-contenido ul{
    padding-left : 40px;
    margin-bottom: 1rem;
}

/* Curso de Psicoprofilaxis */
.barra-section {
    background-image: url("../images/fondo-tira.jpg");
    padding-top     : 40px;
    padding-bottom  : 10px;
}

.psico-img {
    width: 90%;
    
    margin-top: -140px;
}

.barra-section h3, .barra-section .subtitle {
    color: #fff;
}


/* Botones flotantes */

.btn-fixed {
    position               : fixed;
    left                   : auto;
    top                    : auto;
    right                  : 3%;
    bottom                 : 1%;
    display                : flex;
    -webkit-box-pack       : center;
    -webkit-justify-content: center;
    -ms-flex-pack          : center;
    justify-content        : center;
    z-index                : 100;
}

.whatsapp-container { 
    display                : -webkit-box;
    display                : -webkit-flex;
    display                : -ms-flexbox;
    display                : flex;
    width                  : 60px;
    height                 : 60px;
    margin-right           : 8px;
    -webkit-box-pack       : center;
    -webkit-justify-content: center;
    -ms-flex-pack          : center;
    justify-content        : center;
    -webkit-box-align      : center;
    -webkit-align-items    : center;
    -ms-flex-align         : center;
    align-items            : center;
    border-radius          : 50%;
    background-color       : #fff;
    -webkit-transition     : box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition             : box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition             : box-shadow 200ms ease, transform 200ms ease;
    transition             : box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
    cursor                 : pointer;
    border                 : 2px solid #b1aaaa70;
}

.whatsapp-container:hover{
    box-shadow       : 0 12px 12px -2px rgba(83, 98, 124, 0.55);
    -webkit-transform: translate(0px, -10px);
    -ms-transform    : translate(0px, -10px);
    transform        : translate(0px, -10px);
}


/* Footer  */

footer {
    background-color: var(--primary-color-alt);
    color           : #fff;
    font-size       : var(--small-font-size);
    padding-top     : 3em;
    padding-bottom  : 1em;
}



  /* Latidos
  .latidos::before, .latidos::after {
    content      : "";
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    width        : 70px;
    height       : 70px;
    border       : 10px solid gray;
    border-radius: 100%;
    animation    : latido linear 3s infinite;
  }
  
  .latidos::after {
    animation-delay: -1.5s;
  }
  
  @keyframes latido {
    0% { width:70px; height:70px; border:10px solid gray; }
    100% { width:120px; height:120px; border:10px solid transparent; }
  }

  
  #button-p { top: 0px; left: 100px; } */

.wrap {
    max-width: 100%;
    margin   : 30px auto;
}

ul.tabs {
    width           : 100%;
    background-color: var(--primary-color-alt);
    list-style      : none;
    display         : flex;
}

ul.tabs li {
    width: 50%;
}


.pestañas-partos .active {
    background-color: var(--primary-color-alt);
    color           : #fff;
}

/* .pestañas-partos .active:after {
    content      : "";
    position     : absolute;
    bottom       : -10px;
    left         : 0px;
    right        : 0px;
    margin       : 0 auto;
    z-index      : 1;
    width        : 0px;
    height       : 0px;
    border-left  : 10px solid transparent;
    border-right : 10px solid transparent;
    border-top   : 10px solid #444;
    border-bottom: 0px;
} */

ul.tabs li a {
    color          : #05315780;
    text-align     : center;
    text-decoration: none;
    font-size      : 20px;
    font-weight    : 700;
    display        : block;
    padding        : 20px 0;
    /* border         : 2px solid var(--primary-color-alt); */
    background: #fff;
}


.img-precio {
    width: 90%;
}


.secciones {
    width           : 100%;
    background-color: hsl(0 0% 96% / 1);
    border          : 2px solid #E5E5E5 ;
    border-top      : 0;
    border-radius   : 8px;
}

.secciones article {
    padding: 30px;
}

@media screen and (max-width: 700px){
    ul.tabs li {
        width     : none;
        flex-basis: 0;
        flex-grow : 1 ;
    }
}

@media screen and (max-width: 450px){
    ul.tabs li a{
        padding: 15px 0;
    }

    ul.tabs li a .tab-text {
        /* font-size: 11; */
    }
    .secciones article{
        padding: 20px;
    }
}

.grid {
    width                : 66%;
    display              : inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : auto;
    gap                  : 1em;          /*Espaciado entre grillas*/
    /* column-gap: 1em; Solo espaciado en columnas |  */
    /* row-gap: 1em; Espaciado en filas - */

    /* Se puede usar 1fr para grid -> cuando son más se usa - repeat(6, 1fr) */

}

.elemento-grid.centrar{
    grid-column: 1/3;
    width      : 50%;
    margin     : auto;
}

.precio-parto {
    width      : 33%;
    display    : inline-flex;
    align-items: center;
    flex-wrap  : wrap;
}

.precio-parto h5 {
    color      : var(--primary-color);
    font-weight: 700;
    margin     : auto;
}

.precio-parto p {
    font-size: 20px;
    margin   : auto;
    width    : -webkit-fill-available;
    padding  : 12px 0;
}
.precio-parto img {
    margin: auto;
}


.elemento-grid {
    display    : flex;
    align-items: flex-start;
    color      : #01212D;
}

.elemento-text {
    padding-left: 8px;
}

.elemento-text p {
    font-size     : var(--small-font-size);
    padding-right : 8px;
    padding-bottom: 0px;
}

/* ACORDEON  */

.accordion {
    width    : 90%;
    max-width: 1000px;

}
.accordion-item {
    background-color: #fff;
    color           : #111;
    margin          : 1rem 0;
    border-radius   : var(--border-radius);
    box-shadow      : 0 1px 8px 0 rgba(0,0,0,0.25);

}
.accordion-item-header {
    padding      : 0.5rem 3rem 0.5rem 1rem;
    min-height   : 3.5rem;
    line-height  : 1.25rem;
    display      : flex;
    align-items  : center;
    position     : relative;
    cursor       : pointer;
    color        : var(--color-body);
    border-radius: var(--border-radius);
}

.accordion-item-header i.fas.fa-bars{
    padding: 0 1rem;
}

.accordion-item-header:hover {
    background-color: var(--primary-color);
    color           : #fff;
}

.accordion-item-header .active {

    border-top-left-radius : var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.accordion-item-header::after {
    content  : "\002B";
    font-size: 2rem;
    position : absolute;
    right    : 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow  : hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding         : 1rem;
    line-height     : 1.5rem;
    border-top      : 1px solid;
    border-image    : linear-gradient(to right, transparent, var(--primary-color), transparent) 1;
    font-size       : var(--small-font-size);
    background-color: #f0f4f7;
    padding-left    : 2em;
}

@media(max-width:767px) {
html {
    font-size: 14px;
}
}


/* Footer Grid  */

footer h5 {
    padding-bottom: 20px;
}

.footer-grid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap      : 30px;
    grid-row-gap         : 20px;
    grid-template-rows   : auto;
    align-items          : baseline;
    justify-content      : center;
}

.line.footer {
    width           : auto;
    height          : 1px;
    margin-top      : 16px;
    margin-bottom   : 16px;
    padding-top     : 0px;
    padding-bottom  : 0px;
    background-color: rgba(255, 255, 255, 0.1);
    grid-column     : 1/4;
}

footer .flex {
    display    : flex;
    align-items: baseline;
}

i.fas.fa-map-marker-alt, i.far.fa-check-circle, i.fas.fa-phone-alt, i.fab.fa-whatsapp {
    padding-right: 12px;
}
i.far.fa-check-circle {
    color    : var(--primary-color);
    font-size: 18px;
}

.linkSocial {
    width          : 40px;
    height         : 40px;
    border         : 2px solid #FFF;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 50%;
    margin-right   : 1rem;
}

.linkSocial:hover {
    border          : 2px solid var(--primary-color);
    background-color: var(--primary-color);
}